* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', 'Lucida Grande', Sans-Serif;
}

#title {
    margin-left: 40px;
}

h1 {
    margin-left: -20px;
}

#navbar {
    overflow-y: scroll;
    height: 100%;
    position: fixed;
    width: 300px;
    left: 0;
    /*    margin-bottom: 25px;*/

}

#nav-links {
    list-style-type: none;
    padding: 0;
    font-size: 1.1em;
}

#nav-links > li > .nav-link {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    margin-left: 25px;
}

#main-doc {
    position: absolute;
    top: 45px;
    left: 350px;
    margin: auto 50px 0 50px;
    line-height: 1.8;
    font-size: 15px;
}

.code-container {
    background-color: #eee;
    width: 1000px;
    margin-left: 20px;
}
